@import "layouts/gridframework";
@import "base/base";
@import "base/typography";
.header {
  align-items: center;
  justify-content: space-between;
  &__buttons {
    width: 300px;
    align-items: center;
    justify-content: space-between;
  }
}
.main-landing {
  overflow: hidden;
  height: 707px;
  background-image: url(../images/bg.svg);
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  .right-background{
    width:794px;
    height: 693px;
    background-image: url(https://involvio.com/images/hero-illustration_1.svg);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
    opacity: 1;
    position: absolute;
    left: 450px;
    top: -10px;
  }
&__text{
  float: left;
  p {
    font-size: 18px;
    line-height: 30px;
  }
 }
}
.card{
    border: 2px solid #f0f1f2;
    max-width: 240px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, .03);
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    color: #083741;
    padding: 44px 23px 33px;
    text-align: center;
    img{
      max-width: 110px;
      margin-bottom: 8px;
    }
}
.trusted {
  margin-bottom: 38px;
  color: #9ea4b8;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.46px;
}
.list-title {
  font-weight: bold;
}
