@import "layouts/gridframework";
@import "base/base";
@import "base/typography";
.header {
  align-items: center;
  justify-content: space-between;
  &__buttons {
    width: 300px;
    align-items: center;
    justify-content: space-between;
  }
}
.main-landing__text{
  float: left;
}
.card{
    border: 2px solid #f0f1f2;
    max-width: 240px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, .03);
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    color: #083741;
    padding: 44px 23px 33px;
    text-align: center;
    img{
      max-width: 110px;
      margin-bottom: 8px;
    }
}
.list-title {
  font-weight: bold;
}
