body {
    font-family: "Lora", "Merriweather","Roboto Slab", sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}
h1,h2,h3,h4,h5,h6 {
    margin:5px 0;
    font-weight: bold;
}
h2{
  font-size: 30px;
}
