$f-size:14px;
$l-height:1.2;
$text-default:#000;
$link-default:#000;
$link-hover:red;
$btn-primary:#0069d9;
$size-array:"sm" "md" "lg";
$media-size:"@media screen and (min-width:0px)" "@media screen and (min-width:768px)" "@media screen and (min-width:992px)";
$font-sizes:"14px, 1.2" "18px, 1.4" "20px, 1.5";

@mixin button($color: $btn-primary, $width: 60px){
  display: inline-block;
  width:$width;
  height: 25px;
  padding: 5px;
  text-align: center;
  background: $color;
  color:white;
  font-size: 13px;
  border-radius: 5px;
}

@mixin fonts($size: $f-size, $line: $l-height){
  font-size: $size;
  font-family: sans-serif;
  line-height: $line;
}


@mixin columns {
  @each $media in $media-size {
  @each $size in $size-array{
  @for $i from 1 through 12{
    #{$media} {
    .col-#{$size}-#{i}{
      grid-column: span #{$i};
    }
  }
  }
  @for $i from 1 through 5 {
    .m-#{$size}-#{$i} {
      margin: calc(#{$i} * 0.25rem);
    }
    .mt-#{$size}-#{$i} {
      margin-top: calc(#{$i} * 0.25rem);
    }
    .mb-#{$size}-#{$i} {
      margin-bottom: calc(#{$i} * 0.25rem);
    }
    .mr-#{$size}-#{$i} {
      margin-right: calc(#{$i} * 0.25rem);
    }
    .ml-#{$size}-#{$i} {
      margin-left: calc(#{$i} * 0.25rem);
    }
    .p-#{$size}-#{$i} {
      padding: calc(#{$i} * 0.25rem);
    }
    .pt-#{$size}-#{$i} {
      padding-top: calc(#{$i} * 0.25rem);
    }
    .pb-#{$size}-#{$i} {
      padding-bottom: calc(#{$i} * 0.25rem);
    }
    .pr-#{$size}-#{$i} {
      padding-right: calc(#{$i} * 0.25rem);
    }
    .pl-#{$size}-#{$i} {
      padding-left: calc(#{$i} * 0.25rem);
    }
  }

  }
}
}
.outer-container {
  min-width: 400px;
  max-width: 1200px;
  margin: 0px auto;
  padding: 5px;
}
.row {
  max-width: 1200px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.btn {
  @include button;
}
.btn-full {
  @include button($btn-primary, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  font-size: 30px;
  height: 45px;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
